  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

  :root {
    --font: "Outfit", sans-serif;
    --headerColor: #1F314F;
    --paragraphColor: #68778D;
    --bgColor: #d5e1ef;
    --spacing200: 16px;
    --spacing300: 24px;
    --spacing400: 32px;
    --spacing500: 40px;
    --spacing600: 48px;
  }

  * {
    padding: 0;
    margin: 0;
  }

  .pageWrapper {
    width: 100%;
    height: 100vh;
    background: #d5e1ef;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    scrollbar-width: none;
  }

  .card {
    background: #fff;
    border-radius: 20px;
    width: 90%;
    max-width: 288px;
    /* box-sizing: border-box; */
    padding: var(--spacing200) var(--spacing200) var(--spacing500) var(--spacing200);
    box-shadow:0 25px 25px 0 rgba(0, 0, 0, 0.0477);
  }

  .imgWrapper {
    width: 100%;
    max-width: 288px;
    max-height: 288px;
  }

  .imgWrapper img {
    width: 100%;
    max-width: 288px;
    max-height: 288px;
    border-radius: 10px;
  }

  .copyWrapper {
    padding: 0 var(--spacing200);
    text-align: center;
    font-family: var(--font);
    margin-top: var(--spacing300);
  }

  .copyWrapper h1 {
    color: var(--headerColor);
    /* font-size: 22px; */
    /* font-size: clamp(18px, 1.075rem + 0.25vw, 22px); */
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: var(--spacing200);
  }

  .copyWrapper p {
    color: var(--paragraphColor);
    /* font-size: 15px; */
    /* font-size:clamp(12px, 0.713rem + 0.19vw, 15px); */
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 1.4;
  }
